:root {
  --main-theme-color: #f22b0c;
  --soft-grey-bg: rgb(219, 223, 219);
}

body {
  font-family: "Raleway", sans-serif;
}

.hvr-underline-from-left:before {
  background: var(--main-theme-color);
}

/* .navbar {
    background: rgb(66, 63, 63);
} */

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
}

.navbar-nav a {
  text-transform: uppercase;
  font-weight: bold;
}

.carousel-caption {
  /* transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    bottom: 0;
    top: 50%; */
  background: rgba(0, 0, 0, 0.322);
}

.carousel-caption h5 {
  font-size: 4vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

.carousel-caption a {
  text-decoration: none;
  color: white;
  background: var(--main-theme-color);
  display: inline-block;
  padding: 8px 8px;
  border: 2px solid white;
}

#pricing {
  margin: 0px 0px;
  padding: 100px 0 50px 0;
  /* background: var(--soft-grey-bg); */
}

.title-text {
  /* background: var(--main-theme-color); */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: underline;
  text-align: center;
  padding: 50px 0px;
}

.bg-red {
  background: var(--main-theme-color);
  color: white !important;
  line-height: 2em;
}

.text-red {
  color: var(--main-theme-color);
}

.pricing-title {
  color: white !important;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  font-size: 2em;
}

#services {
  background: var(--main-theme-color);
  margin: 50px 0;
  padding-bottom: 100px;
}

.bg-white {
  background: #fff;
}

.uk-card-body > p {
  font-size: 18px;
}

#about-us > h2 {
  color: var(--main-theme-color);
}

#about-us h1,
p {
  color: white;
}

.overlay-bg {
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#about-us > div {
  /* margin-top: 100px; */
  margin-bottom: 150px;
}

@media (min-width: 900px) {
  #about-us > div {
    height: 800px;
  }
}

footer {
  background: var(--main-theme-color);
  text-align: center;
}
